.container {
  @include flex-container(flex, column);
  position: fixed;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
  width: 100%;
  max-width: 385px;

  .toast {
    margin-bottom: 10px;
  }
}
