.container {
  @include flex-container(flex, row, center);
  gap: 4px;
  cursor: pointer;

  &:active {
    @include button-active;
    @include button-hover;
  }

  .copyButton {
    height: 18px;

    svg path {
      fill: $blue300;
    }
  }
}
